<h1>Sporcuyu Düzenle</h1>
<%= render 'form', fighter: @fighter %>

<br>
<%= link_to 'Geri', fighters_path, class:"btn btn-dark" %>

<%= link_to 'Sil', @fighter, method: :delete, data: { confirm: 'Emin Misin?' },  type:"button", class:"btn btn-danger" %>
