<h1>Editing Fighter</h1>
<%= render 'form', fighter: @fighter %>

<br>
<%= link_to 'Back', fighters_path, class:"btn btn-dark" %>

<%= link_to 'Destroy', @fighter, method: :delete, data: { confirm: 'Are you sure?' },  type:"button", class:"btn btn-danger" %>
