<h1> Hakkımzıda </h1>
<br/> <br/>
Hector Spor Kulübü olarak Sporcularımız için Amaç ve hedeflerimiz: 

Farklı şekilerde temek motor becerileri edinmek ve fiziksel aktivite için uyaran almak,

Temel kendini koruma becerisi, güvenli ve sağlığı destekleyici egzersiz yolları öğrenmek,

Bir rekabet üzerinde durmaksızın, hem bireysel hem de işbirliği içinde çalışma becerilerini 
pratikleştirmek, 

Hilesiz bir oyun ruhu içinde kararlaştırılan yönergelere uymayı öğrenmek.

Kickboks Eğitim formlarının uygulamalarında;  Koşma, zıplama, atlama, itme, çekme, denge sağlama esneklik,  vurma ve savunma temel becerileri kazandırmak,

Neşeli fiziksel aktivitelerle; 

Temel motor becerilerini geliştirmeye devam etmek ve fiziksel aktivitenin belirli bir formunda 
beceri edinmek,
Huzuru(refahı) ve sağlığı korumada fiziksel aktivitenin önemini kavrayabilecek durumu 
gelmek,
Gözlemlemek ve fonksiyonel yeteneklerini geliştirmek,
Kickboks ve Muay Thai sporunda yeteneklerini geliştirmek ve elit sporcu becerileri edinmek,

Fiziksel aktivite ve müsabaka durumlarında güvenli ve uygun bir şekilde davranmayı öğrenmek,

Bağımsız veya bir takım ile hareket etmeyi öğrenmek, 

Hoşgörü çeşitliliği ve kendini kabul etmeyi öğrenmek, 

Eğitim programımızda ki  temel amaç ve hedeflerimizdir. 

@Hector Spor kulübü 
 Murat Gürbüz...
